<!DOCTYPE html>

<html lang="fr">
    <!--header-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="styles/myreadings.css" rel="stylesheet">

        <title>
            Ponedelnik
        </title>
        <div class="webtitle">
            <h1>PONEDELNIK</h1>
        </div>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    </head>

    <body>
        <!--Navigation bar-->
        <nav>
            <ul>
                <li class="navlink"><a href="">Ponedelnik</a></li>
                <li class="navlink"><a href="">Mes lectures</a></li>
                <li class="navlink"><a href="">Avis</a></li>
                <li class="navlink"><a href="">Podcasts</a></li>
                <li class="navlink"><a href="">Evènements</a></li>
                <li class="navlink"><a href="">A propos</a></li>
                <li class="navlink"><a href="">Contact</a></li>
            </ul>
        </nav>

        <main>
            <div class="bookList">
                <div class="grid-header title notside">Titre</div>
                <div class="grid-header author notside">Auteur</div>
                <div class="grid-header type notside">Type</div>
                <div class="grid-header edition notside">Editions</div>
                <div class="grid-header status notside">Statut</div>
                <div class="grid-header dateBegin notside">Début</div>
                <div class="grid-header dateEnd notside">Fin</div>
                <div class="grid-header toDefine"></div>
                <div class="grid-header btnColumn"><em>A définir</em></div>
            </div>
            <% for( let index = 0; index < numberBooks; index++ ) { %>
                <form class="bookList" id="row<%= resultList[index].id %>" value = resultList[index].id action="/edit" method="post">
                    <div class="grid-row notside" id="title<%= resultList[index].id %>"> <%= resultList[index].title %> </div>
                    <div class="grid-row notside" id="author<%= resultList[index].id %>"> <%= resultList[index].author %> </div>
                    <div class="grid-row notside" id="type<%= resultList[index].id %>"> <%= resultList[index].type %> </div>
                    <div class="grid-row notside" id="editor<%= resultList[index].id %>"><%= resultList[index].editor %> </div>
                    <div class="grid-row notside" id="status<%= resultList[index].id %>"> <%= resultList[index].status %> </div>
                    <div class="grid-row notside" id="dateBegin<%= resultList[index].id %>"> <%= resultList[index].dateBegin %> </div>
                    <div class="grid-row notside" id="dateEnd<%= resultList[index].id %>"> <%= resultList[index].dateEnd %> </div>
                    <div class="grid-row editButton" action="/edit" method="post"> 
                        <button class="btn" id="editRow<%= resultList[index].id %>" type="button">
                            <img id="iconPencil<%= resultList[index].id %>" src="/pictures/pencil.svg">
                        </button>
                    </div>
                    <div class="grid-row toDefine">A définir</div>
                </form>
            <% } %>
            <div class ="bookAdd">
                <div class="grid-newPage">
                    <button id="addRow" type="button"><img id="icon" src="/pictures/plus.svg" alt="Ajouter" class="icon"></button>
                    <span id="iconLabel">Ajouter une nouvelle entrée</span>
                </div>
                <div class="grid-total totalRead"> <%= numberBooks %> books</div>
            </div>
        </main>
    </body>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/dom_myreadings.js"></script>
    
</html>