<!DOCTYPE html>

<html lang="fr">
    <!--header-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="styles/myreadings.css" rel="stylesheet">

        <title>
            Ponedelnik
        </title>
        <div class="webtitle">
            <h1>PONEDELNIK</h1>
        </div>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    </head>

    <body>
        <!--Navigation bar-->
        <nav>
            <ul>
                <li class="navlink"><a href="">Ponedelnik</a></li>
                <li class="navlink"><a href="">Mes lectures</a></li>
                <li class="navlink"><a href="">Avis</a></li>
                <li class="navlink"><a href="">Podcasts</a></li>
                <li class="navlink"><a href="">Evènements</a></li>
                <li class="navlink"><a href="">A propos</a></li>
                <li class="navlink"><a href="">Contact</a></li>
            </ul>
        </nav>

        <main>
            <div class="bookList">
                <div class="grid-header title notside">Titre</div>
                <div class="grid-header author notside">Auteur</div>
                <div class="grid-header type notside">Type</div>
                <div class="grid-header edition notside">Editions</div>
                <div class="grid-header status notside">Statut</div>
                <div class="grid-header dateBegin notside">Début</div>
                <div class="grid-header dateEnd notside">Fin</div>
                <div class="grid-header dateEnd"><em>A définir</em></div>
            </div>
            <% for( let index = 0; index < numberBooks; index++ ) { %>
                <div class="bookList">
                    <div class="grid-header title notside"> <%= resultList[index].title %> </div>
                    <div class="grid-header author notside"> <%= resultList[index].author %> </div>
                    <div class="grid-header type notside"> <%= resultList[index].type %> </div>
                    <div class="grid-header edition notside"> <%= resultList[index].editor %> </div>
                    <div class="grid-header status notside"> <%= resultList[index].status %> </div>
                    <div class="grid-header dateBegin notside"> <%= resultList[index].dateBegin %> </div>
                    <div class="grid-header dateEnd notside"> <%= resultList[index].dateEnd %> </div>
                    <div class="grid-header dateEnd"> <em> A définir</em> </div>
                </div>
            <% } %>
            <div class ="bookAdd">
                <div class="grid-newPage">
                    <button id="addRow" type="button"><img id="icon" src="/pictures/plus.svg" alt="Ajouter" class="icon"></button>
                    <span id="iconLabel">Ajouter une nouvelle entrée</span>
                </div>
                <div class="grid-total totalRead"> <%= numberBooks %> books</div>
            </div>
        </main>
    </body>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <script>
        $("#addRow").on("click", function() {
             $(".bookAdd").hide();
            const inputRow = $(`
                <form class="bookForm" action="/add" method="post">
                    <div class="grid-header title notside"> <input type="text" name="title" placeholder="Titre" >  </div>
                    <div class="grid-header author notside"> <input type="text" name="autor" placeholder="Auteur">  </div>
                    <div class="grid-header type notside"> <input type="text" name ="type" placeholder="Type d'ouvrage">  </div>
                    <div class="grid-header edition notside"> <input type="text" name="editor" placeholder="Editeur">  </div>
                    <div class="grid-header status notside"> <input type="text" name="status" placeholder="Progression">  </div>
                    <div class="grid-header dateBegin notside"> <input type="text" name="dateBegin" placeholder="01/01/2025">  </div>
                    <div class="grid-header dateEnd notside"> <input type="text" name="date_end"placeholder="31/12/2025"> </div>
                    <div class="grid-header dateEnd"> <em> A définir</em> </div>
                    <div class="grid-newPage final">
                        <button id="addRow" type="submit"><img id="icon" src="/pictures/plus.svg" alt="Ajouter" class="icon"></button>
                        <span id="iconLabel">Ajouter une nouvelle entrée</span>
                    </div>
                </form>
            `)
            .insertBefore(".bookAdd")           // Ajoute juste avant .bookAdd
            .find('input[name="title"]')        // Cherche le champ titre
            .trigger('focus');                  // ajoute autofocus
            
            $("#icon")                          // modifie l'icône de sauvegarde
            .attr("src", "/pictures/record-circle.svg")
            .attr("alt", "Enregistrer");

            $("#iconLabel").html("Enregistrer une nouvelle entrée");
        })
    </script>
</html>